<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="footer">

<style>
    .footer-bar {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 1em;
      background-color: #1565c0;
      color: white;
      text-align: center;
      font-size: 1.1em;
      font-family: sans-serif;
      font-weight: bold;
      box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
    }
</style>

<footer class="footer-bar">
    <small>&copy; 2025 Traineeship-Management Kiosses Athanasios 5254 - Sioulas Alexandros 5349</small>
</footer>

</html>
